.place-order {
    margin-top: 20px;
  }
  
  .order-item {
    margin-top: 20px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .order-item img {
    max-width: 100%;
    height: auto;
  }
  
  .btn-primary{
    background-color: #758694;
    margin-bottom: 30px; /* add space in bottom of the page*/
  }

  h2{
    font-weight: 450;
  }